<ion-header>
    <ion-navbar>
        <ion-title translate="ITEMS_PAGE.TITLE">
            Items
        </ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="filter" [placeholder]="'ITEMS_PAGE.FILTER' | translate"></ion-searchbar>
    <div class="edit-table">
        <div class="edit-tr">
            <span class="edit-th">{{'ITEMS_PAGE.EXTERNAL_ID' | translate}}</span>
            <span class="edit-th">{{'ITEMS_PAGE.NAME' | translate}}</span>
            <span class="edit-th">{{'ITEMS_PAGE.DESCRIPTION' | translate}}</span>
            <span class="edit-th">{{'ITEMS_PAGE.PURCHASE_DATE' | translate}}</span>
            <span class="edit-th">{{'ITEMS_PAGE.LAST_SERVICE' | translate}}</span>
            <span class="edit-th">{{'ITEMS_PAGE.CONDITION' | translate}}</span>
            <span class="edit-th">{{'ITEMS_PAGE.CONDITION_COMMENT' | translate}}</span>
            <span class="edit-th">{{'ITEMS_PAGE.STATUS' | translate}}</span>
            <span class="edit-th">{{'ITEMS_PAGE.TAGS' | translate}}</span>
            <span class="edit-th" *ngIf="isManager"></span>
            <span class="edit-th" *ngIf="isManager"></span>
            <span class="edit-th"></span>
        </div>
        <form class="edit-tr" [formGroup]="newItemForm" (ngSubmit)="add($event)" *ngIf="isManager">
            <span class="edit-td">
                <ion-item>
                    <ion-label floating>{{'ITEMS_PAGE.EXTERNAL_ID' | translate}}</ion-label>
                    <ion-input type="text" formControlName="externalId"></ion-input>
                </ion-item>
            </span>
            <span class="edit-td">
                <ion-item>
                    <ion-label floating>{{'ITEMS_PAGE.NAME' | translate}}</ion-label>
                    <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>
            </span>
            <span class="edit-td">
                <ion-item>
                    <ion-label floating>{{'ITEMS_PAGE.DESCRIPTION' | translate}}</ion-label>
                    <ion-input type="text" formControlName="description"></ion-input>
                </ion-item>
            </span>
            <span class="edit-td">
                <span class="edit-td">
                    <item-date-picker formControlName="purchaseDate" [label]="'ITEMS_PAGE.PURCHASE_DATE' | translate"></item-date-picker>
                </span>
            </span>
            <span class="edit-td">
                <span class="edit-td">
                    <item-date-picker formControlName="lastService" [label]="'ITEMS_PAGE.LAST_SERVICE' | translate"></item-date-picker>
                </span>
            </span>
            <span class="edit-td">
                <ion-item>
                    <ion-label floating>{{'ITEMS_PAGE.CONDITION' | translate}}</ion-label>
                    <ion-select formControlName="condition">
                        <ion-option *ngFor="let option of itemsDataService.itemConditionOptions" [value]="option.value">{{option.text}}</ion-option>
                    </ion-select>
                </ion-item>
            </span>
            <span class="edit-td">
                <ion-item>
                    <ion-label floating>{{'ITEMS_PAGE.CONDITION_COMMENT' | translate}}</ion-label>
                    <ion-input type="text" formControlName="conditionComment"></ion-input>
                </ion-item>
            </span>
            <span class="edit-td">
                <ion-item>
                    <ion-label floating>{{'ITEMS_PAGE.STATUS' | translate}}</ion-label>
                    <ion-select formControlName="status">
                        <ion-option *ngFor="let option of itemsDataService.itemStatusOptions" [value]="option.value">{{option.text}}</ion-option>
                    </ion-select>
                </ion-item>
            </span>
            <span class="edit-td">
                <ion-item>
                    <ion-label floating>{{'ITEMS_PAGE.TAGS' | translate}}</ion-label>
                    <ion-input type="text" formControlName="tags"></ion-input>
                </ion-item>
            </span>
            <span class="edit-td">
                <button ion-button type="submit" clear icon-only [disabled]="!newItemForm.valid"><ion-icon name="add-circle"></ion-icon></button>
            </span>
            <span class="edit-td"></span>
            <span class="edit-td"></span>
        </form>
        <ng-container *ngFor="let item of items | itemsfilter:filter">
            <form *ngIf="isManager && editItemId === item._id" class="edit-tr" [formGroup]="editItemForm"
                  (ngSubmit)="save(item, $event)">
                <span class="edit-td">
                    <ion-item>
                        <ion-label floating>{{'ITEMS_PAGE.EXTERNAL_ID' | translate}}</ion-label>
                        <ion-input type="text" formControlName="externalId"></ion-input>
                    </ion-item>
                </span>
                <span class="edit-td">
                    <ion-item>
                        <ion-label floating>{{'ITEMS_PAGE.NAME' | translate}}</ion-label>
                        <ion-input type="text" formControlName="name"></ion-input>
                    </ion-item>
                </span>
                <span class="edit-td">
                    <ion-item>
                        <ion-label floating>{{'ITEMS_PAGE.DESCRIPTION' | translate}}</ion-label>
                        <ion-input type="text" formControlName="description"></ion-input>
                    </ion-item>
                </span>
                <span class="edit-td">
                    <item-date-picker [itemId]="item._id" formControlName="lastService" [label]="'ITEMS_PAGE.LAST_SERVICE' | translate"></item-date-picker>
                </span>
                <span class="edit-td">
                    <ion-item>
                        <ion-label floating>{{'ITEMS_PAGE.CONDITION' | translate}}</ion-label>
                        <ion-select formControlName="condition">
                            <ion-option *ngFor="let option of itemsDataService.itemConditionOptions" [value]="option.value">{{option.text}}</ion-option>
                        </ion-select>
                    </ion-item>
                </span>
                <span class="edit-td">
                    <ion-item>
                        <ion-label floating>{{'ITEMS_PAGE.CONDITION_COMMENT' | translate}}</ion-label>
                        <ion-input type="text" formControlName="conditionComment"></ion-input>
                    </ion-item>
                </span>
                <span class="edit-td">
                    <ion-item>
                        <ion-label floating>{{'ITEMS_PAGE.STATUS' | translate}}</ion-label>
                        <ion-select formControlName="status">
                            <ion-option *ngFor="let option of itemsDataService.itemStatusOptions" [value]="option.value">{{option.text}}</ion-option>
                        </ion-select>
                    </ion-item>
                </span>
                <span class="edit-td">
                    <ion-item>
                        <ion-label floating>{{'ITEMS_PAGE.TAGS' | translate}}</ion-label>
                        <ion-input type="text" formControlName="tags"></ion-input>
                    </ion-item>
                </span>
                <span class="edit-td">
                    <button ion-button type="submit" clear icon-only [disabled]="!editItemForm.valid"><ion-icon name="checkmark"></ion-icon></button>
                </span>
                <span class="edit-td">
                    <button ion-button (click)="cancelEdit()" clear icon-only><ion-icon
                            name="close-circle"></ion-icon></button>
                </span>
                <span class="edit-td">
                    <button ion-button (click)="remove(item._id)" clear icon-only><ion-icon name="trash"></ion-icon></button>
                </span>
            </form>
            <div *ngIf="editItemId !== item._id" class="edit-tr">
                <span class="edit-td">{{item.externalId}}</span>
                <span class="edit-td">{{item.name}}</span>
                <span class="edit-td">{{item.description}}</span>
                <span class="edit-td">{{item.lastService | moment: 'L'}}</span>
                <span class="edit-td">
                    <span [ngSwitch]="item.condition">
                        <ng-container *ngFor="let option of itemsDataService.itemConditionOptions">
                            <span *ngSwitchCase="option.value" [style.color]="option.colorCss">{{option.text}}</span>
                        </ng-container>
                        <span *ngSwitchDefault>{{item.condition}}</span>
                    </span>
                </span>
                <span class="edit-td">{{item.conditionComment}}</span>
                <span class="edit-td">
                    <span [ngSwitch]="item.status">
                        <ng-container *ngFor="let option of itemsDataService.itemStatusOptions">
                            <span *ngSwitchCase="option.value" [style.color]="option.colorCss">{{option.text}}</span>
                        </ng-container>
                        <span *ngSwitchDefault>{{item.status}}</span>
                    </span>
                </span>
                <span class="edit-td">
                    <ion-chip *ngFor="let tag of item.tags">
                        <ion-label>{{tag}}</ion-label>
                    </ion-chip>
                </span>
                <span class="edit-td" *ngIf="isManager">
                </span>
                <span class="edit-td" *ngIf="isManager">
                    <button ion-button (click)="edit(item)" clear icon-only><ion-icon name="create"></ion-icon></button>
                </span>
                <span class="edit-td">
                    <button ion-button (click)="viewItem(item)" clear icon-only><ion-icon name="search"></ion-icon></button>
                </span>
            </div>
        </ng-container>
    </div>
</ion-content>