<ion-header>
    <ion-navbar>
        <ion-title>
            Items
        </ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="filter"></ion-searchbar>
    <div class="edit-table">
        <div class="edit-tr">
            <span class="edit-th">externalId</span>
            <span class="edit-th">Name</span>
            <span class="edit-th">Description</span>
            <span class="edit-th">Last Service</span>
            <span class="edit-th">Condition</span>
            <span class="edit-th">Condition Comment</span>
            <span class="edit-th">Status</span>
            <span class="edit-th">Tags</span>
            <span class="edit-th" *ngIf="isManager"></span>
            <span class="edit-th" *ngIf="isManager"></span>
            <span class="edit-th"></span>
        </div>
        <form class="edit-tr" [formGroup]="newItemForm" (ngSubmit)="add($event)" *ngIf="isManager">
            <span class="edit-td">
                <ion-item>
                    <ion-label floating>External ID</ion-label>
                    <ion-input type="text" formControlName="externalId"></ion-input>
                </ion-item>
            </span>
            <span class="edit-td">
                <ion-item>
                    <ion-label floating>Name</ion-label>
                    <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>
            </span>
            <span class="edit-td">
                <ion-item>
                    <ion-label floating>Description</ion-label>
                    <ion-input type="text" formControlName="description"></ion-input>
                </ion-item>
            </span>
            <span class="edit-td">
                <span class="edit-td">
                    <item-date-picker formControlName="lastService" label="Last Service"></item-date-picker>
                </span>
            </span>
            <span class="edit-td">
                <ion-item>
                    <ion-label floating>Condition</ion-label>
                    <ion-select formControlName="condition">
                        <ion-option value="100" [style.color]="itemColor(100)">Ok</ion-option>
                        <ion-option value="50" [style.color]="itemColor(50)">Damaged</ion-option>
                        <ion-option value="0" [style.color]="itemColor(0)">Broken</ion-option>
                    </ion-select>
                </ion-item>
            </span>
            <span class="edit-td">
                <ion-item>
                    <ion-label floating>Condition Comment</ion-label>
                    <ion-input type="text" formControlName="conditionComment"></ion-input>
                </ion-item>
            </span>
            <span class="edit-td">
                <ion-item>
                    <ion-label floating>Status</ion-label>
                    <ion-select formControlName="status">
                        <ion-option value="public" [style.color]="'green'">Public</ion-option>
                        <ion-option value="hidden" [style.color]="'red'">Hidden</ion-option>
                    </ion-select>
                </ion-item>
            </span>
            <span class="edit-td">
                <ion-item>
                    <ion-label floating>Tags</ion-label>
                    <ion-input type="text" formControlName="tags"></ion-input>
                </ion-item>
            </span>
            <span class="edit-td">
                <button ion-button type="submit" clear icon-only [disabled]="!newItemForm.valid"><ion-icon name="add-circle"></ion-icon></button>
            </span>
            <span class="edit-td"></span>
            <span class="edit-td"></span>
        </form>
        <ng-container *ngFor="let item of data | async | itemsfilter:filter">
            <form *ngIf="isManager && editItemId === item._id" class="edit-tr" [formGroup]="editItemForm"
                  (ngSubmit)="save(item, $event)">
                <span class="edit-td">
                    <ion-item>
                        <ion-label floating>External ID</ion-label>
                        <ion-input type="text" formControlName="externalId"></ion-input>
                    </ion-item>
                </span>
                <span class="edit-td">
                    <ion-item>
                        <ion-label floating>Name</ion-label>
                        <ion-input type="text" formControlName="name"></ion-input>
                    </ion-item>
                </span>
                <span class="edit-td">
                    <ion-item>
                        <ion-label floating>Description</ion-label>
                        <ion-input type="text" formControlName="description"></ion-input>
                    </ion-item>
                </span>
                <span class="edit-td">
                    <item-date-picker [itemId]="item._id" formControlName="lastService" label="Last Service"></item-date-picker>
                </span>
                <span class="edit-td">
                    <ion-item>
                        <ion-label floating>Condition</ion-label>
                        <ion-select formControlName="condition">
                            <ion-option value="100" [style.color]="itemColor(100)">Ok</ion-option>
                            <ion-option value="50" [style.color]="itemColor(50)">Damaged</ion-option>
                            <ion-option value="0" [style.color]="itemColor(0)">Broken</ion-option>
                        </ion-select>
                    </ion-item>
                </span>
                <span class="edit-td">
                    <ion-item>
                        <ion-label floating>Condition Comment</ion-label>
                        <ion-input type="text" formControlName="conditionComment"></ion-input>
                    </ion-item>
                </span>
                <span class="edit-td">
                    <ion-item>
                        <ion-label floating>Status</ion-label>
                        <ion-select formControlName="status">
                            <ion-option value="public" [style.color]="'green'">public</ion-option>
                            <ion-option value="hidden" [style.color]="'red'">hidden</ion-option>
                        </ion-select>
                    </ion-item>
                </span>
                <span class="edit-td">
                    <ion-item>
                        <ion-label floating>Tags</ion-label>
                        <ion-input type="text" formControlName="tags"></ion-input>
                    </ion-item>
                </span>
                <span class="edit-td">
                    <button ion-button type="submit" clear icon-only [disabled]="!editItemForm.valid"><ion-icon name="create"></ion-icon></button>
                </span>
                <span class="edit-td">
                    <button ion-button (click)="cancelEdit()" clear icon-only><ion-icon
                            name="close-circle"></ion-icon></button>
                </span>
                <span class="edit-td">
                    <button ion-button (click)="remove(item._id)" clear icon-only><ion-icon name="remove-circle"></ion-icon></button>
                </span>
            </form>
            <div *ngIf="editItemId !== item._id" class="edit-tr">
                <span class="edit-td">{{item.externalId}}</span>
                <span class="edit-td">{{item.name}}</span>
                <span class="edit-td">{{item.description}}</span>
                <span class="edit-td">{{item.lastService | date: 'dd.MM.yyyy'}}</span>
                <span class="edit-td">
                    <span [ngSwitch]="item.condition" [style.color]="itemColor(item.condition)">
                        <span *ngSwitchCase="'100'">Ok</span>
                        <span *ngSwitchCase="'50'">Damaged</span>
                        <span *ngSwitchCase="'0'">Broken</span>
                        <span *ngSwitchDefault>{{item.condition}}</span>
                    </span>
                </span>
                <span class="edit-td">{{item.conditionComment}}</span>
                <span class="edit-td">
                    <span [ngSwitch]="item.status">
                        <span *ngSwitchCase="'public'" [style.color]="'green'">Public</span>
                        <span *ngSwitchCase="'hidden'" [style.color]="'red'">Hidden</span>
                    </span>
                </span>
                <span class="edit-td">
                    <ion-chip *ngFor="let tag of item.tags">
                        <ion-label>{{tag}}</ion-label>
                    </ion-chip>
                </span>
                <span class="edit-td" *ngIf="isManager">
                </span>
                <span class="edit-td" *ngIf="isManager">
                    <button ion-button (click)="edit(item)" clear icon-only><ion-icon name="create"></ion-icon></button>
                </span>
                <span class="edit-td">
                    <button ion-button (click)="viewItem(item)" clear icon-only><ion-icon name="search"></ion-icon></button>
                </span>
            </div>
        </ng-container>
    </div>
</ion-content>