<ion-menu [content]="content" [enabled]="enableMenu">
    <ion-content>
        <ion-list>
            <button ion-item (click)="editSelf()" menuClose icon-right *ngIf="userName">{{userName}}<ion-icon name="create"></ion-icon></button>
            <button ion-item (click)="showUsers()" menuClose icon-right *ngIf="isAdmin">{{'SIDEMENU.USERS' | translate}}<ion-icon name="people"></ion-icon></button>
            <button ion-item (click)="showItems()" menuClose icon-right *ngIf="isManager">{{'SIDEMENU.ITEMS_LIST' | translate}}<ion-icon name="list"></ion-icon></button>
            <button ion-item (click)="importItems()" menuClose icon-right *ngIf="isManager">{{'SIDEMENU.IMPORT_ITEMS' | translate}}<ion-icon name="list"></ion-icon></button>
            <button ion-item (click)="showCalendarItems()" menuClose icon-right>{{'SIDEMENU.ITEMS_CALENDAR' | translate}}<ion-icon name="list"></ion-icon></button>
            <button ion-item (click)="logout()" menuClose icon-right>{{'SIDEMENU.LOGOUT' | translate}}<ion-icon name="log-out"></ion-icon></button>
        </ion-list>
        <ion-footer>
            <button ion-button icon-only clear (click)="translateHelper.showLanguageSelect()"><ion-icon name="globe"></ion-icon></button>
        </ion-footer>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
