<ion-header>
    <ion-navbar>
        <ion-title>
            {{'RESERVATIONS_PAGE.TITLE' | translate}}
        </ion-title>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button icon-only (click)="newReservation()">
                <ion-icon name="add-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="filter" (ngModelChange)="filterChange()" [placeholder]="'RESERVATION.FILTER' | translate"></ion-searchbar>
    </ion-toolbar>
</ion-header>


<ion-content>
    <dynamic-virtual-scroll [minItemHeight]="171" [scrollLive]="true">
        <ng-container *dynamicItem="let reservation of displayReservations">
            <reservation-card [reservation]="reservation" view="items" *ngIf="reservation"></reservation-card>
        </ng-container>
    </dynamic-virtual-scroll>
    <!--<ion-list [virtualScroll]="displayReservations" approxItemHeight="171px">
        <div *virtualItem="let reservation" style="width: 100%">
            <reservation-card [reservation]="reservation" view="items" *ngIf="displayReservations.length"></reservation-card>
        </div>
    </ion-list>-->
</ion-content>
