<ion-header>
    <ion-navbar>
        <ion-title>
            {{'RESERVATIONS_PAGE.TITLE' | translate}}
        </ion-title>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button icon-only (click)="newReservation()">
                <ion-icon name="calendar"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="filter" [placeholder]="'RESERVATIONS_PAGE.FILTER' | translate"></ion-searchbar>
    <div class="edit-table">
        <div class="edit-tr">
            <span class="edit-th">{{'RESERVATIONS_PAGE.TYPE' | translate}}</span>
            <span class="edit-th">{{'RESERVATIONS_PAGE.NAME' | translate}}</span>
            <span class="edit-th">{{'RESERVATIONS_PAGE.START' | translate}}</span>
            <span class="edit-th">{{'RESERVATIONS_PAGE.END' | translate}}</span>
            <span class="edit-th">{{'RESERVATIONS_PAGE.USER' | translate}}</span>
            <span class="edit-th">{{'RESERVATIONS_PAGE.GROUP' | translate}}</span>
            <span class="edit-th">{{'RESERVATIONS_PAGE.CONTACT' | translate}}</span>
            <span class="edit-th"></span>
            <span class="edit-th"></span>
        </div>
        <ng-container *ngFor="let reservation of reservations | reservationsfilter:filter">
            <div class="edit-tr">
                <span class="edit-td">{{reservation.type}}</span>
                <span class="edit-td">{{reservation.name}}</span>
                <span class="edit-td">{{reservation.start | date: 'dd.MM.yyyy'}}</span>
                <span class="edit-td">{{reservation.end | date: 'dd.MM.yyyy'}}</span>
                <span class="edit-td"><user-ref [userId]="reservation.userId"></user-ref></span>
                <span class="edit-td">{{reservation.groupId}}</span>
                <span class="edit-td">{{reservation.contact}}</span>
                <span class="edit-td">
                    <button ion-button (click)="editReservation(reservation._id)" clear icon-only>
                        <ion-icon *ngIf="isAdmin || isOwner(reservation.userId)" name="create"></ion-icon>
                        <ion-icon *ngIf="!isAdmin && !isOwner(reservation.userId)" name="search"></ion-icon>
                    </button>
                </span>
                <span class="edit-td">
                    <button ion-button (click)="deleteReservation(reservation)" clear icon-only *ngIf="canDelete(reservation)">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                </span>
            </div>
        </ng-container>
    </div>
</ion-content>