.three-button-alert button.alert-button-group {
  width: 33.33%;
}

.three-button-alert .alert-button-group .button-inner {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.three-button-alert .alert-button-group-vertical {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row ;
}