@import '{}/node_modules/angular-calendar/scss/angular-calendar';

.cal-component
{
  .cal-col-header {
    text-align: center;
    font-weight: bold;
  }
  .cal-month-view {
    .cal-day-cell {
      min-height: 60px;

      .cal-cell-top {
        min-height: 30px;
        .cal-day-number {
          font-size: 1em;
          margin-top: 10px;
          margin-bottom: 5px;
          margin-right: 5px;
        }
      }
    }
    .cal-day-cell.cal-today {
      .cal-day-number {
        font-size: 1.5em;
      }
    }
  }
  .cal-day-badge {
    display: none;
  }

  .cal-day-selected.cal-in-month {
    background-color: cornflowerblue;
  }

  .cal-day-selected.cal-in-month:hover {
    background-color: lighten(cornflowerblue, 10%);
  }

  .cal-day-selected.cal-out-month {
    background-color: rgba(cornflowerblue, 0.5);
  }

  .cal-day-selected.cal-out-month:hover {
    background-color: rgba(lighten(cornflowerblue, 10%), 0.5);
  }

  .cal-day-range.cal-in-month {
    background-color: rgba(lightblue, 0.5);
  }

  .cal-day-range.cal-in-month:hover {
    background-color: rgba(mix(lightblue, gray, 50%), 0.25);
  }

  .cal-day-range.cal-out-month {
    background-color: rgba(lightblue, 0.25);
  }

  .cal-day-range.cal-out-month:hover {
    background-color: rgba(mix(lightblue, gray, 50%), 0.25);
  }

  .cal-day-disabled.cal-in-month,
  .cal-day-disabled.cal-in-month:hover {
    background-color: rgba(gray, 0.5);
  }
  .cal-day-disabled.cal-out-month,
  .cal-day-disabled.cal-out-month:hover{
    background-color: rgba(gray, 0.25);
  }
}