
.content-container {
  height: 100%;
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.content-container > * {
  flex: none;
}

.container {
  overflow: hidden;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.container.content {
  flex: 1 !important;
  overflow: hidden;
}

.description {
  position: relative;
  display: block;
  width: 150px;
}

.timetable-container {
  flex: 1;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.timetable-container.scroll {
  overflow: scroll;
}

.timetable {
  position: absolute;
  left: 0;
  top: 0;
}

.item-column {
  position: absolute;
  display: block;
  width: 30px;
  border-right: 1px solid lightgray;
}

.item-row {
  position: absolute;
  height: 30px;
  border-bottom: 1px solid lightgray;
}

.item-row.title {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-right: 1px solid lightgray;
  width: 100%;
}

.item-row.title.first {
  border-top: 1px solid black;
}

.item-row.title.last {
  border-bottom: 1px solid black;
}

.item-row.title.good {
  background-color: mix(#1de525, white, 25%);
}

.item-row.title.bad {
  background-color: mix(#f5aa38, white, 25%);
}

.item-row.title.broken {
  background-color: mix(#f53d3d, white, 25%);
}

.item-row.entry {
  display: block;
  clear: both;
  white-space: nowrap;
}

.item-row.header {
  border-bottom: none;
}

.item-row.entry.header {
  background-color: lightblue;
}

.item-row.header.day {
  border-bottom: 1px solid dodgerblue;
}

.item-row.entry.header .cell {
  border-right: 1px solid dodgerblue;
  text-align: center;
}

.item-row.entry.header.month .cell {
  border-right: none;
  overflow: visible;
  text-align: left;
  vertical-align: middle;
}

.item-row.entry.header.month .cell.last {
  border-right: 1px solid dodgerblue;
}

.event, .state {
  position: absolute;
  display: block;
  height: 29px;
  border-right: 1px solid lightgray;
}

.event {
  background-color: rgba(lightblue, 0.75);
}

.state.good {
  background-color: mix(#1de525, white, 25%);
}

.state.bad {
  background-color: mix(#f5aa38, white, 25%);
}

.state.broken {
  background-color: mix(#f53d3d, white, 25%);
}

.event a, .event a:active, .event a:visited {
  display: block;
  padding-left: 5px;
  width: 100%;
  height: 100%;
}

.event .center {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.cell {
  position: absolute;
  display: block;
  width: 30px;
  height: 29px;
  border-right: 1px solid lightgray;
}

.event a:hover {
  background-color: rgba(white, 0.1);
}

.noscroll /deep/ .scroll-content {
  overflow: hidden;
}