<ion-header>
    <ion-navbar>
        <ion-title>
            {{'ITEMS_IMPORTER_PAGE.TITLE' | translate}}
        </ion-title>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button icon-only (click)="itemList.showColumnOptions($event)">
                <ion-icon name="more"></ion-icon>
            </button>
            <button ion-button icon-only (click)="upload()">
                <ion-icon name="cloud-upload"></ion-icon>
            </button>
            <button ion-button icon-only clear (click)="exportItems()">
                <ion-icon name="download"></ion-icon>
            </button>
            <button ion-button icon-only *ngIf="items" (click)="itemList.save()" [disabled]="isWorking"><ion-icon name="checkmark"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="!items" class="file-drop no-file" [ngClass]="{'file-over': fileIsOver}" fileDrop (fileOver)="onFileOver($event)" (onFileDrop)="onFileDrop($event)">
    </div>

    <item-list [items]="items" [saveCompact]="false"></item-list>
</ion-content>