<ion-header>
    <ion-navbar>
        <ion-title>
            {{'ITEMS_IMPORTER_PAGE.TITLE' | translate}}
        </ion-title>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button icon-only clear (click)="exportItems()">
                <ion-icon name="download"></ion-icon>
            </button>
            <button ion-button icon-only *ngIf="items" (click)="save()" [disabled]="isWorking"><ion-icon name="checkmark"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <upload-button block item-content (fileDrop)="fileDrop($event)" fileResult="Text" style="width: 100%"></upload-button>
    </ion-card>
    <ion-searchbar [(ngModel)]="filter" [placeholder]="'ITEMS_IMPORTER_PAGE.FILTER' | translate" *ngIf="items"></ion-searchbar>
    <ion-list [virtualScroll]="items | itemsfilter:filter" approxItemHeight="25px" [headerFn]="headerFn">
        <div *virtualHeader="let header" style="width: 100%">
            <item-card view="listHeader" [extended]="true" [editable]="true" [saveDirect]="true"></item-card>
        </div>
        <div *virtualItem="let item" style="width: 100%">
            <item-card [item]="item" view="list" [extended]="true" [editable]="true" [saveDirect]="true"></item-card>
        </div>
    </ion-list>
</ion-content>