.item-card-row .col {
  overflow-wrap: break-word;
  word-break: break-word;
}

.item-card-row .col, .item-card-row .col /deep/ input, .item-card-row .col /deep/ .select, .item-card-row .col /deep/ .button {
  padding: 0;
  margin: 0;
}

.clickable.item-button /deep/ ion-icon {
  padding: 10px;
}

.clickable.item-button {
  padding: 0;
  margin: 0;
  height: auto;
  align-self: stretch;
}

.clickable-thumbnail {
  margin-top: auto;
  margin-bottom: auto;
}

.clickable-thumbnail img {
  border-radius: 8px;
}