<ion-card *ngIf="viewCards">
    <ion-toolbar>
        <ion-title>
            {{'RESERVATION_CARD.HEADER' | translate}}
        </ion-title>
        <ion-buttons right>
            <button ion-button (click)="editReservation()" clear icon-only *ngIf="canEdit">
                <ion-icon *ngIf="isAdmin || isOwner" name="create"></ion-icon>
                <ion-icon *ngIf="!isAdmin && !isOwner" name="search"></ion-icon>
            </button>
            <button ion-button (click)="deleteReservation()" clear icon-only *ngIf="canDelete">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-card-content>
        <ion-card-title>
            {{reservation.name}}
        </ion-card-title>
        <p>{{'RESERVATION_CARD.DESCRIPTION' | translate:descriptionData}}</p>
        <ion-item-group>
            <ion-item-divider>
                {{'RESERVATION_CARD.ITEMS' | translate}}
            </ion-item-divider>
            <ion-item *ngFor="let item of items">
                <!--<ion-avatar item-left><img src="{{item.picture}}"></ion-avatar>-->
                <ion-label>
                    <h2>{{item.name}} {{item.externalId}}</h2>
                    <h3>{{item.tags}}</h3>
                    <p>{{item.description}}</p>
                </ion-label>
                <button ion-button icon-only clear item-end (click)="openItem()"><ion-icon name="search"></ion-icon></button>
            </ion-item>
        </ion-item-group>
    </ion-card-content>
</ion-card>


<ion-row *ngIf="viewList" class="reservation-card-row">
    <ion-col col-1>
        <ng-container [ngSwitch]="reservation.type">
            <ion-icon *ngSwitchCase="'private'" name="lock"></ion-icon>
            <ion-icon *ngSwitchCase="'group'" name="people"></ion-icon>
        </ng-container>
    </ion-col>
    <ion-col col-2>
        {{reservation.name}}
    </ion-col>
    <ion-col>
        {{reservation.start | moment: 'L'}}
    </ion-col>
    <ion-col>
        {{reservation.end | moment: 'L'}}
    </ion-col>
    <ion-col>
        <user-ref [userId]="reservation.userId"></user-ref>
    </ion-col>
    <ion-col col-2>
        {{reservation.contact}}
    </ion-col>
    <ion-col col-auto>
        <button ion-button (click)="editReservation()" clear icon-only small no-padding>
            <ion-icon *ngIf="isAdmin || isOwner" name="create"></ion-icon>
            <ion-icon *ngIf="!isAdmin && !isOwner" name="search"></ion-icon>
        </button>
    </ion-col>
    <ion-col col-auto>
        <button ion-button (click)="deleteReservation()" clear icon-only [disabled]="!canDelete" small no-padding>
            <ion-icon name="trash"></ion-icon>
        </button>
    </ion-col>
</ion-row>


<ion-row *ngIf="viewListHeader" class="reservation-card-row">
    <ion-col col-1>
        <ion-icon name="people"></ion-icon>
    </ion-col>
    <ion-col col-2>
        {{'RESERVATION_CARD.NAME' | translate}}
    </ion-col>
    <ion-col>
        {{'RESERVATION_CARD.START' | translate}}
    </ion-col>
    <ion-col>
        {{'RESERVATION_CARD.END' | translate}}
    </ion-col>
    <ion-col>
        {{'RESERVATION_CARD.USER' | translate}}
    </ion-col>
    <ion-col col-2>
        {{'RESERVATION_CARD.CONTACT' | translate}}
    </ion-col>
    <ion-col col-auto>
        <button ion-button clear icon-only [disabled]="true" small no-padding>
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-col>
    <ion-col col-auto>
        <button ion-button clear icon-only [disabled]="true" small no-padding>
            <ion-icon name="trash"></ion-icon>
        </button>
    </ion-col>
</ion-row>

<ion-card *ngIf="viewItems">
    <ion-toolbar>
        <ion-title>
            {{reservation.name}}
        </ion-title>
        <ion-buttons right>
            <button ion-button (click)="editReservation()" clear icon-only *ngIf="canEdit">
                <ion-icon *ngIf="isAdmin || isOwner" name="create"></ion-icon>
                <ion-icon *ngIf="!isAdmin && !isOwner" name="search"></ion-icon>
            </button>
            <button ion-button (click)="deleteReservation()" clear icon-only *ngIf="canDelete">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-card-content>
        <p>{{reservation.start | moment: 'L'}} - {{reservation.end | moment: 'L'}}</p>
        <p>{{'RESERVATION_CARD.USER' | translate}}: <user-ref [userId]="reservation.userId"></user-ref></p>
        <p>{{'RESERVATION_CARD.CONTACT' | translate}}: {{reservation.contact}}</p>
    </ion-card-content>
</ion-card>