<ion-header>
    <ion-navbar>
        <ion-title>
            {{_titleText}}
        </ion-title>
        <ion-buttons end *ngIf="selectDate">
            <button ion-button icon-only (click)="cancel()">
                <ion-icon name="close"></ion-icon>
            </button>
            <button ion-button icon-only (click)="save()">
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-buttons>
            <button ion-button icon-only mwlCalendarPreviousView view="month" [(viewDate)]="viewDate">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
            <button ion-button icon-only mwlCalendarToday [(viewDate)]="viewDate">
                <ion-icon name="calendar"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only mwlCalendarNextView view="month" [(viewDate)]="viewDate">
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="cal-component">
        <ng-template #calHeaderTemplate>
            <div class="cal-cell-row">
                <div class="cal-cell cal-past cal-col-header" *ngFor="let label of days_label">
                    {{label}}
                </div>
            </div>
        </ng-template>
        <mwl-calendar-month-view
                [viewDate]="viewDate"
                [events]="events"
                [headerTemplate]="calHeaderTemplate"
                [dayModifier]="dayModifier"
                [refresh]="refresh"
                (dayClicked)="select($event.day)">
        </mwl-calendar-month-view>
    </div>
</ion-content>