<ion-row class="item-card-row">
    <ion-col col-auto *ngIf="columns.editor.visible">
        <button ion-button [disabled]="true" clear icon-only small no-padding>
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-col>
    <ion-col col-1 *ngIf="columns.externalId.visible">
        {{'ITEM.EXTERNAL_ID' | translate}}
    </ion-col>
    <ion-col col-2 *ngIf="columns.name.visible">
        {{'ITEM.NAME' | translate}}
    </ion-col>
    <ion-col *ngIf="columns.description.visible">
        {{'ITEM.DESCRIPTION' | translate}}
    </ion-col>
    <ion-col col-1 *ngIf="columns.condition.visible">
        {{'ITEM.CONDITION' | translate}}
    </ion-col>
    <ion-col *ngIf="columns.conditionComment.visible">
        {{'ITEM.CONDITION_COMMENT' | translate}}
    </ion-col>
    <ion-col col-1 *ngIf="columns.lastService.visible">
        {{'ITEM.LAST_SERVICE' | translate}}
    </ion-col>
    <ion-col col-1 *ngIf="columns.purchaseDate.visible">
        {{'ITEM.PURCHASE_DATE' | translate}}
    </ion-col>
    <ion-col *ngIf="columns.itemGroup.visible">
        {{'ITEM.ITEM_GROUP' | translate}}
    </ion-col>
    <ion-col *ngIf="columns.tags.visible">
        {{'ITEM.TAGS' | translate}}
    </ion-col>
    <ion-col col-auto *ngIf="columns.state.visible">
        <button ion-button [disabled]="true" clear icon-only small no-padding>
            <ion-icon name="eye"></ion-icon>
        </button>
    </ion-col>
    <ion-col col-auto *ngIf="columns.picture.visible">
        <button ion-button [disabled]="true" clear icon-only small no-padding>
            <ion-icon name="image"></ion-icon>
        </button>
    </ion-col>
    <ion-col col-auto>
        <button ion-button type="button" clear icon-only [disabled]="true" small no-padding>
            <ion-icon name="trash"></ion-icon>
        </button>
    </ion-col>
</ion-row>
<dynamic-virtual-scroll [minItemHeight]="25">
    <ng-container *dynamicItem="let item of filteredItems">
        <form *ngIf="item && item.form" [formGroup]="item.form">
            <ion-row class="item-card-row">
                <ion-col col-auto *ngIf="columns.editor.visible">
                    <button ion-button (click)="openItemEditor(item)" clear icon-only small no-padding>
                        <ion-icon name="create"></ion-icon>
                    </button>
                </ion-col>
                <ion-col col-1 *ngIf="columns.externalId.visible">
                    <ion-input type="text" formControlName="externalId" (ngModelChange)="onItemChanged(item, 'externalId', $event)"></ion-input>
                </ion-col>
                <ion-col col-2 *ngIf="columns.name.visible">
                    <ion-input type="text" formControlName="name" (ngModelChange)="onItemChanged(item, 'name', $event)"></ion-input>
                </ion-col>
                <ion-col *ngIf="columns.description.visible">
                    <ion-input type="text" formControlName="description" (ngModelChange)="onItemChanged(item, 'description', $event)""></ion-input>
                </ion-col>
                <ion-col col-1 *ngIf="columns.condition.visible">
                    <ion-select [okText]="'SELECT.OK' | translate" [cancelText]="'SELECT.CANCEL' | translate"  formControlName="condition" interface="action-sheet" (ngModelChange)="onItemChanged(item, 'condition', $event)">
                        <ion-option *ngFor="let option of itemsService.itemConditionOptions" [value]="option.value">{{option.text}}</ion-option>
                    </ion-select>
                </ion-col>
                <ion-col *ngIf="columns.conditionComment.visible">
                    <ion-input type="text" formControlName="conditionComment" (ngModelChange)="onItemChanged(item, 'conditionComment', $event)"></ion-input>
                </ion-col>
                <ion-col col-1 *ngIf="columns.lastService.visible">
                    <item-date-picker formControlName="lastService" [label]="'ITEM.LAST_SERVICE' | translate" [compact]="true" (ngModelChange)="onItemChanged(item, 'lastService', $event)"></item-date-picker>
                </ion-col>
                <ion-col col-1 *ngIf="columns.purchaseDate.visible">
                    <item-date-picker formControlName="purchaseDate" [label]="'ITEM.PURCHASE_DATE' | translate" [compact]="true" (ngModelChange)="onItemChanged(item, 'purchaseDate', $event)"></item-date-picker>
                </ion-col>
                <ion-col *ngIf="columns.itemGroup.visible">
                    <ion-input type="text" formControlName="itemGroup" (ngModelChange)="onItemChanged(item, 'itemGroup', $event)"></ion-input>
                </ion-col>
                <ion-col *ngIf="columns.tags.visible">
                    <ion-input type="text" formControlName="tags" (ngModelChange)="onItemChanged(item, 'tags', $event)"></ion-input>
                </ion-col>
                <ion-col col-auto *ngIf="columns.state.visible">
                    <button *ngIf="item.form.controls['state'].value=='public'" ion-button (click)="item.form.controls['state'].setValue('hidden');item.form.controls['state'].markAsDirty();onItemChanged(item,'state',null)" [disabled]="item.form.controls['state'].disabled" clear icon-only small no-padding>
                        <ion-icon name="eye"></ion-icon>
                    </button>
                    <button *ngIf="item.form.controls['state'].value!='public'" ion-button (click)="item.form.controls['state'].setValue('public');item.form.controls['state'].markAsDirty();onItemChanged(item,'state',null)" [disabled]="item.form.controls['state'].disabled" clear icon-only small no-padding>
                        <ion-icon name="eye-off"></ion-icon>
                    </button>
                </ion-col>
                <ion-col col-auto *ngIf="columns.picture.visible">
                    <button ion-button clear icon-only (click)="selectPicture(item)" [disabled]="item.form.controls['picture'].disabled" small no-padding>
                        <ion-icon name="images" *ngIf="item.form.controls['picture'].value"></ion-icon>
                        <ion-icon name="image" *ngIf="!item.form.controls['picture'].value"></ion-icon>
                    </button>
                </ion-col>
                <ion-col col-auto>
                    <button ion-button (click)="deleteItem(item)" clear icon-only small no-padding>
                        <ion-icon name="trash"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </form>
    </ng-container>
</dynamic-virtual-scroll>
