<ion-list>
    <ion-item>
        <ion-label>{{'ITEM_CARD.EDITOR' | translate}}</ion-label>
        <ion-checkbox [(ngModel)]="columns.editor.visible"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let column of columnDefs">
        <ion-label>
            {{column.translateKey | translate}}
        </ion-label>
        <ion-checkbox [(ngModel)]="columns[column.key].visible"></ion-checkbox>
        <button ion-button clear icon-only item-right small (click)="columns[column.key].lock = !columns[column.key].lock">
            <ion-icon name="lock" *ngIf="columns[column.key].lock"></ion-icon>
            <ion-icon name="unlock" *ngIf="!columns[column.key].lock"></ion-icon>
        </button>
    </ion-item>
</ion-list>