<ion-header>
    <ion-navbar>
        <ion-title>
            Reservation
        </ion-title>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button icon-only (click)="save()"><ion-icon name="create"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="reservationForm" (ngSubmit)="add($event)">
        <ion-item>
            <ion-label floating>Type</ion-label>
            <ion-select formControlName="type" *ngIf="!readonly">
                <ion-option value="private">Private</ion-option>
                <ion-option value="group">Group</ion-option>
            </ion-select>
            <ion-input *ngIf="readonly" type="text" formControlName="type" [readonly]="readonly"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" formControlName="name" [readonly]="readonly"></ion-input>
        </ion-item>
        <my-date-picker formControlName="start" label="Start" [rangeEnd]="reservationForm.controls.end.value" rangeDirection="end"></my-date-picker>
        <my-date-picker formControlName="end" label="End" [rangeStart]="reservationForm.controls.start.value" rangeDirection="start"></my-date-picker>
        <!--<ion-item>
            <ion-label floating>End</ion-label>
            <ion-datetime displayFormat="DD.MM.YYYY" formControlName="end" *ngIf="!readonly"></ion-datetime>
            <ion-input type="text" [(ngModel)]="endOutput" *ngIf="readonly"></ion-input>
        </ion-item>-->
        <ion-item>
            <ion-label floating>Contact</ion-label>
            <ion-input type="text" formControlName="contact" [readonly]="readonly"></ion-input>
        </ion-item>
    </form>
    <ion-list>
        <ion-list-header>Items</ion-list-header>
        <ion-searchbar [(ngModel)]="filter"></ion-searchbar>
        <ion-item *ngFor="let item of items | itemsfilter:filter">
            <!--<ion-avatar item-left><img src="notfound.png"></ion-avatar>-->
            <ion-checkbox item-left [(ngModel)]="item.selected"></ion-checkbox>
            <ion-label>
                <h2>{{item.name}}</h2>
                <h3>{{item.tags}}</h3>
                <p>{{item.description}}</p>
            </ion-label>
            <!--<ion-label>{{item.name}}: {{item.description}}</ion-label>-->
        </ion-item>
    </ion-list>
</ion-content>