<ion-header>
    <ion-navbar>
        <ion-title>
            {{'RESERVATION_PAGE.TITLE' | translate:translateTitleParams}}
        </ion-title>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button icon-only *ngIf="!readonly" (click)="save()" [disabled]="!reservationForm.valid"><ion-icon name="checkmark"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-toolbar ion-fixed *ngIf="fixSearchbar">
        <ion-searchbar [(ngModel)]="filter" (ngModelChange)="filterChange()" [placeholder]="'RESERVATION_PAGE.FILTER' | translate"></ion-searchbar>
    </ion-toolbar>
    <form [formGroup]="reservationForm" (ngSubmit)="save()">
        <ion-item>
            <ion-label floating>{{'RESERVATION_PAGE.TYPE' | translate}}</ion-label>
            <ion-select formControlName="type" *ngIf="!readonly">
                <ion-option *ngFor="let option of reservationsDataService.reservationTypeOptions" [value]="option.value">{{option.text}}</ion-option>
            </ion-select>
            <ion-input *ngIf="readonly" type="text" formControlName="type" [readonly]="readonly"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>{{'RESERVATION_PAGE.NAME' | translate}}</ion-label>
            <ion-input type="text" formControlName="name" [readonly]="readonly"></ion-input>
        </ion-item>
        <reservation-date-picker formControlName="start" [label]="'RESERVATION_PAGE.START' | translate" [rangeEnd]="reservationForm.controls.end.value"
                                 [rangeStart]="readonly?reservationForm.controls.start.value:null"
                                 [showReservations]="true" [skipReservationId]="editId" [readonly]="readonly"></reservation-date-picker>
        <reservation-date-picker formControlName="end" [label]="'RESERVATION_PAGE.END' | translate" [rangeStart]="reservationForm.controls.start.value"
                                 [rangeEnd]="readonly?reservationForm.controls.end.value:null"
                                 [showReservations]="true" [skipReservationId]="editId" [readonly]="readonly"></reservation-date-picker>
        <ion-item>
            <ion-label floating>{{'RESERVATION_PAGE.CONTACT' | translate}}</ion-label>
            <ion-input type="text" formControlName="contact" [readonly]="readonly"></ion-input>
        </ion-item>
    </form>
    <ion-card>
        <ion-card-header>{{'RESERVATION_PAGE.ITEMS' | translate}}</ion-card-header>
        <ion-card-content>
            <ion-searchbar [(ngModel)]="filter" (ngModelChange)="filterChange()" scroll-switch (fullInViewChange)="fixSearchbar=!$event" [placeholder]="'RESERVATION_PAGE.FILTER' | translate"></ion-searchbar>
            <dynamic-virtual-scroll [minItemHeight]="82" [scrollLive]="true">
                <ng-container *dynamicItem="let item of displayItems">
                    <ion-item class="item-element" *ngIf="item">
                        <ion-label class="item-background-parent">
                            <span class="item-background">
                                <span class="item-background-container">
                                    <ng-container *ngFor="let subItem of item.subItems">
                                        <span class="item-background-item {{subItem.condition}}" [ngClass]="{'selected': subItem.selected, 'unavailable': !subItem.available}">
                                            <span *ngIf="subItem.selected">&#10004;</span>
                                            <span *ngIf="!subItem.available">&#10008;</span>
                                            <span *ngIf="!subItem.selected && subItem.available" style="visibility: hidden">&#10004;</span>
                                        </span>
                                    </ng-container>
                                </span>
                            </span>
                            <h2>{{item.name}}</h2>
                            <h3>{{item.description}}</h3>
                            <p><span class="external-id" *ngIf="item.externalId">{{item.externalId}},</span>{{item.tags}}<ng-container *ngIf="item.conditionComment">; {{item.conditionComment}}</ng-container></p>
                            <button ion-button="item-cover" (click)="toggleAddItem($event, item)"></button>
                        </ion-label>
                        <ion-badge item-start class="checkbox-badge">
                            <ion-checkbox [(ngModel)]="item.selected" [disabled]="!item.available || readonly"></ion-checkbox>
                        </ion-badge>
                        <ion-badge item-right *ngIf="item.availableCount > 1" class="counter-badge">
                            <div>
                                <button ion-button icon-only clear (click)="item.selectedCount=item.selectedCount-1" [disabled]="readonly || item.selectedCount==0"><ion-icon name="remove"></ion-icon></button>
                                <button ion-button icon-only clear (click)="item.selectedCount=item.selectedCount+1" [disabled]="readonly || item.selectedCount >= item.availableCount"><ion-icon name="add"></ion-icon></button>
                                <br />
                                {{item.selectedCount}}/{{item.count}}
                            </div>
                        </ion-badge>
                        <ion-badge item-right class="button-badge">
                            <div>
                                <button ion-button icon-only clear (click)="openItem(item)"><ion-icon name="search"></ion-icon></button>
                                <button ion-button icon-only clear (click)="openItemPicture(item); $event.preventDefault(); $event.stopPropagation()" *ngIf="item.pictureUrl">
                                    <ion-thumbnail class="clickable-thumbnail"><img [src]="item.pictureUrl"></ion-thumbnail>
                                </button>
                            </div>
                        </ion-badge>
                    </ion-item>
                </ng-container>
            </dynamic-virtual-scroll>
        </ion-card-content>
    </ion-card>
</ion-content>