<ion-header>
    <ion-navbar>
        <ion-title>
            Reservation<span *ngIf="text"> - {{text}}</span>
        </ion-title>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button icon-only *ngIf="!readonly" (click)="save()" [disabled]="!reservationForm.valid"><ion-icon name="checkmark"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="reservationForm" (ngSubmit)="save()">
        <ion-item>
            <ion-label floating>Type</ion-label>
            <ion-select formControlName="type" *ngIf="!readonly">
                <ion-option value="private">Private</ion-option>
                <ion-option value="group">Group</ion-option>
            </ion-select>
            <ion-input *ngIf="readonly" type="text" formControlName="type" [readonly]="readonly"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" formControlName="name" [readonly]="readonly"></ion-input>
        </ion-item>
        <reservation-date-picker formControlName="start" label="Start" [rangeEnd]="reservationForm.controls.end.value"
                                 [rangeStart]="readonly?reservationForm.controls.start.value:null"
                                 [showReservations]="true" [skipReservationId]="editId" [readonly]="readonly"></reservation-date-picker>
        <reservation-date-picker formControlName="end" label="End" [rangeStart]="reservationForm.controls.start.value"
                                 [rangeEnd]="readonly?reservationForm.controls.end.value:null"
                                 [showReservations]="true" [skipReservationId]="editId" [readonly]="readonly"></reservation-date-picker>
        <ion-item>
            <ion-label floating>Contact</ion-label>
            <ion-input type="text" formControlName="contact" [readonly]="readonly"></ion-input>
        </ion-item>
    </form>
    <ion-card>
        <ion-card-header>Items</ion-card-header>
        <ion-card-content>
            <ion-searchbar [(ngModel)]="filter"></ion-searchbar>
            <ion-item *ngFor="let item of items | itemsfilter:filter">
                <!--<ion-avatar item-left><img src="{{item.picture}}"></ion-avatar>-->
                <ion-checkbox item-left [(ngModel)]="item.selected" [disabled]="!item.available || readonly"></ion-checkbox>
                <ion-label>
                    <h2>{{item.name}}</h2>
                    <h3>{{item.tags}}</h3>
                    <p>{{item.description}}</p>
                </ion-label>
                <ion-badge item-right *ngIf="!item.available">Not available</ion-badge>
                <ion-badge item-right *ngIf="item.deselected" color="danger">Removed</ion-badge>
                <button ion-button icon-only clear item-end (click)="openItem(item)"><ion-icon name="search"></ion-icon></button>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>