.clickable-thumbnail {
  margin-top: auto;
  margin-bottom: auto;
}

.clickable-thumbnail img {
  border-radius: 8px;
}

.external-id {
  color: darkgray;
}

.item-element {
  // z-index required for firefox to properly render the background
  z-index: 0;
  align-items: stretch;
  padding: 0;
}

.item-background-parent {
  position: relative;
}

.counter-badge, .button-badge, .checkbox-badge {
  margin: 0;
  padding: 0;

  background-color: transparent;
  color: inherit;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.counter-badge {
  /deep/ button {
    margin: 0;
  }
  /deep/ ion-icon {
    padding: 0 5px;
  }
}

.button-badge {
  /deep/ div {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  /deep/ button {
    height: 100%;
    margin: 0;
  }
  /deep/ ion-icon {
    padding: 0 10px;
  }
}

.checkbox-badge {
  position: relative;
  align-items: center;
  display: flex;

  /deep/ ion-checkbox {
    margin: 0;
  }
}

.item-background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;

  .item-background-container {
    background-color: pink;
    height: 100%;
    width: 100%;
    display: flex;
    //flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-direction: row;

    .item-background-item {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      color: white;
      box-shadow: 0 0 2px 2px #fff inset;
      min-width: 1em;
      overflow: hidden;
    }

    .good {
      background-color: lighten(#1de525, 25);
    }

    .good.selected {
      background-color: lighten(#1de525, 35);
    }

    .good.unavailable {
      background-color: lighten(mix(#1de525, #888, 75%), 25);
    }

    .bad {
      background-color: lighten(#f5aa38, 25);
    }

    .bad.selected {
      background-color: lighten(#f5aa38, 35);
    }

    .bad.unavailable {
      background-color: lighten(mix(#f5aa38, #888, 75%), 25);
    }

    .broken {
      background-color: lighten(#f53d3d, 25);
    }

    .broken.selected {
      background-color: lighten(#f53d3d, 35);
    }

    .broken.unavailable {
      background-color: lighten(mix(#f53d3d, #888, 75%), 25);
    }
  }
}