<ion-header>
    <ion-navbar>
        <ion-title>
            {{'SIGNUP_PAGE.TITLE' | translate}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="translateHelper.showLanguageSelect()"><ion-icon name="globe"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="signupForm" (ngSubmit)="doSignup($event)">
        <ion-item>
            <ion-label floating>{{'SIGNUP_PAGE.USERNAME' | translate}}</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>{{'SIGNUP_PAGE.EMAIL' | translate}}</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>{{'SIGNUP_PAGE.PASSWORD' | translate}}</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched" color="danger">
            <p *ngIf="signupForm.controls['password'].hasError('minlength')">
                {{'SIGNUP_PAGE.ERROR.PASSWORD_MINLENGTH' | translate}}
            </p>
        </ion-item>
        <ion-item>
            <ion-label floating>{{'SIGNUP_PAGE.PASSWORD_REPEAT' | translate}}</ion-label>
            <ion-input type="password" formControlName="password2"></ion-input>
        </ion-item>
        <ion-item *ngIf="!signupForm.controls['password2'].valid && signupForm.controls['password2'].touched" color="danger">
            <p *ngIf="signupForm.controls['password2'].hasError('noMatch')">
                {{'SIGNUP_PAGE.ERROR.PASSWORD_MATCH' | translate}}
            </p>
        </ion-item>
        <ion-item>
            <ion-label floating>{{'SIGNUP_PAGE.FULL_NAME' | translate}}</ion-label>
            <ion-input type="text" formControlName="fullName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>{{'SIGNUP_PAGE.PHONE' | translate}}</ion-label>
            <ion-input type="text" formControlName="phone"></ion-input>
        </ion-item>
        <button ion-button type="submit" block [disabled]="!signupForm.valid">{{'SIGNUP_PAGE.SIGN_UP' | translate}}</button>
    </form>
</ion-content>