<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button clear icon-only (click)="selectPicture()" [disabled]="itemForm.controls['picture'].disabled" clear>
                <ion-icon name="image"></ion-icon>
            </button>
            <button *ngIf="itemForm.controls['state'].value=='public'" ion-button (click)="itemForm.controls['state'].setValue('hidden');itemForm.controls['state'].markAsDirty()" [disabled]="itemForm.controls['state'].disabled" clear icon-only>
                <ion-icon name="eye"></ion-icon>
            </button>
            <button *ngIf="itemForm.controls['state'].value!='public'" ion-button (click)="itemForm.controls['state'].setValue('public');itemForm.controls['state'].markAsDirty()" [disabled]="itemForm.controls['state'].disabled" clear icon-only>
                <ion-icon name="eye-off"></ion-icon>
            </button>
            <button ion-button icon-only (click)="saveItemCopy()" *ngIf="canCopy">
                <ion-icon name="copy"></ion-icon>
            </button>
            <button ion-button icon-only (click)="cancel()">
                <ion-icon name="close"></ion-icon>
            </button>
            <button ion-button icon-only (click)="saveItem()">
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="itemForm" (submit)="saveItem()">
        <ion-list>
            <ion-item>
                <ion-label floating>{{'ITEM.NAME' | translate}}</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'ITEM.DESCRIPTION' | translate}}</ion-label>
                <ion-input type="text" formControlName="description"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'ITEM.EXTERNAL_ID' | translate}}</ion-label>
                <ion-input type="text" formControlName="externalId"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'ITEM.TAGS' | translate}}</ion-label>
                <ion-input type="text" formControlName="tags"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'ITEM.ITEM_GROUP' | translate}}</ion-label>
                <ion-input type="text" formControlName="itemGroup"></ion-input>
            </ion-item>
            <item-date-picker formControlName="purchaseDate" [label]="'ITEM.PURCHASE_DATE' | translate"></item-date-picker>
            <item-date-picker formControlName="lastService" [label]="'ITEM.LAST_SERVICE' | translate"></item-date-picker>
            <ion-item>
                <ion-label floating>{{'ITEM.CONDITION' | translate}}</ion-label>
                <ion-select [okText]="'SELECT.OK' | translate" [cancelText]="'SELECT.CANCEL' | translate"  interface="action-sheet" formControlName="condition">
                    <ion-option *ngFor="let option of itemsService.itemConditionOptions" [value]="option.value">{{option.text}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'ITEM.CONDITION_COMMENT' | translate}}</ion-label>
                <ion-input type="text" formControlName="conditionComment"></ion-input>
            </ion-item>
        </ion-list>
    </form>
</ion-content>