<ion-header>
    <ion-navbar>
        <ion-title>
            {{_titleText}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="close()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>
            <h2>Id</h2>
            <p>{{userId}}</p>
        </ion-label>
    </ion-item>
    <ion-item *ngIf="user && !isAdmin">
        <ion-label>
            Username
        </ion-label>
        <p>{{user.username}}</p>
    </ion-item>
    <form [formGroup]="userForm" (ngSubmit)="savePersonal()" *ngIf="user && canEdit">
        <ion-card>
            <ion-toolbar>
                <ion-title>
                    Personal
                </ion-title>
                <ion-buttons right>
                    <button ion-button icon-only clear type="submit" [disabled]="!userForm.valid">
                        <ion-icon name="checkmark"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-toolbar>
            <ion-card-content *ngIf="user && canEdit">
                <ion-item>
                    <ion-label floating>
                        Name
                    </ion-label>
                    <ion-input type="text" formControlName="fullName"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>
                        Phone
                    </ion-label>
                    <ion-input type="text" formControlName="phone"></ion-input>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </form>
    <form [formGroup]="usernameForm" (ngSubmit)="saveUsername()" *ngIf="user && isAdmin">
        <ion-card>
            <ion-toolbar>
                <ion-title>
                    Username
                </ion-title>
                <ion-buttons right>
                    <button ion-button icon-only clear type="submit" [disabled]="!usernameForm.valid">
                        <ion-icon name="checkmark"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-toolbar>
            <ion-card-content>
                <ion-item>
                    <ion-label floating>
                        Username
                    </ion-label>
                    <ion-input type="text" formControlName="username"></ion-input>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </form>
    <ion-card *ngIf="user && canEdit">
        <ion-toolbar>
            <ion-title>
                E-Mail
            </ion-title>
        </ion-toolbar>
        <ion-card-content>
            <form *ngFor="let email of emails" (ngSubmit)="savePersonal(email)">
                <ion-item>
                    <ion-label floating>
                        E-Mail
                    </ion-label>
                    <ion-input type="email" name="email" [(ngModel)]="email.editAddress"></ion-input>
                    <ion-icon color="green" *ngIf="email.verified" name="checkmark"></ion-icon>
                    <ion-icon color="red" *ngIf="!email.verified" name="close"></ion-icon>
                    <button item-right ion-button icon-only clear type="submit">
                        <ion-icon name="create"></ion-icon>
                    </button>
                    <button item-right ion-button icon-only clear (click)="deleteEmail(email)">
                        <ion-icon name="close"></ion-icon>
                    </button>
                </ion-item>
            </form>
            <form (ngSubmit)="addEmail(newEmailAddress)">
                <ion-item>
                    <ion-label floating>
                        Add E-Mail
                    </ion-label>
                    <ion-input type="email" name="email" [(ngModel)]="newEmailAddress"></ion-input>
                    <button item-right ion-button icon-only clear type="submit">
                        <ion-icon name="checkmark"></ion-icon>
                    </button>
                </ion-item>
            </form>
        </ion-card-content>
    </ion-card>
    <form [formGroup]="userPasswordForm" (ngSubmit)="savePassword()" *ngIf="user && canEdit">
        <ion-card>
            <ion-toolbar>
                <ion-title>Password</ion-title>
                <ion-buttons right>
                    <button ion-button icon-only clear type="submit" [disabled]="!userPasswordForm.valid">
                        <ion-icon name="checkmark"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-toolbar>
            <ion-card-content>
                <ion-item *ngIf="!isAdmin || isSelf">
                    <ion-label floating>
                        Current Password
                    </ion-label>
                    <ion-input type="password" formControlName="oldPassword"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>
                        New Password
                    </ion-label>
                    <ion-input type="password" formControlName="newPassword"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>
                        Repeat New Password
                    </ion-label>
                    <ion-input type="password" formControlName="newPasswordRepeat"></ion-input>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </form>

    <ion-card>
        <ion-toolbar>
            <ion-title>Roles</ion-title>
        </ion-toolbar>
        <ion-card-content>
            <ion-item *ngFor="let role of roles">
                <ion-label>
                    {{role.roleDef.name}}
                </ion-label>
                <ion-checkbox [(ngModel)]="role.isMember" [disabled]="!user || !canEdit || !isAdmin" item-left></ion-checkbox>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="user && !canEdit">
        <ion-card-content>
            <ion-item>
                <ion-label>
                    <h2>Username</h2>
                    <p>{{user.username}}</p>
                </ion-label>
            </ion-item>
            <ion-item *ngFor="let email of user.emails">
                <ion-label>
                    <h2>E-Mail</h2>
                    <p>{{email.address}}
                        <ion-icon color="green" *ngIf="email.verified" name="checkmark"></ion-icon>
                        <ion-icon color="red" *ngIf="!email.verified" name="close"></ion-icon>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>Name</h2>
                    <p>{{user.fullName}}</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>Picture</h2>
                    <p>{{user.picture}}</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>Phone</h2>
                    <p>{{user.phone}}</p>
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>