<ion-header>
    <ion-navbar>
        <ion-title>
            Sign Up
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="signupForm" (ngSubmit)="doSignup($event)">
        <ion-item>
            <ion-label floating>E-Mail</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Repeat Password</ion-label>
            <ion-input type="password" formControlName="password2"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Full Name</ion-label>
            <ion-input type="text" formControlName="fullName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Phone</ion-label>
            <ion-input type="text" formControlName="phone"></ion-input>
        </ion-item>
        <button ion-button type="submit" block>Sign Up</button>
    </form>
</ion-content>