<ion-header>
    <ion-navbar>
        <ion-title>
            {{'RESET_PASSWORD_PAGE.TITLE' | translate}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="translateHelper.showLanguageSelect()"><ion-icon name="globe"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
        <ion-item>
            <ion-label floating>{{'RESET_PASSWORD_PAGE.PASSWORD' | translate}}</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="!passwordForm.controls['password'].valid && passwordForm.controls['password'].touched" color="danger">
            <p *ngIf="passwordForm.controls['password'].hasError('minlength')">
                {{'RESET_PASSWORD_PAGE.ERROR.PASSWORD_MINLENGTH' | translate}}
            </p>
        </ion-item>
        <ion-item>
            <ion-label floating>{{'RESET_PASSWORD_PAGE.PASSWORD_REPEAT' | translate}}</ion-label>
            <ion-input type="password" formControlName="passwordRepeat"></ion-input>
        </ion-item>
        <ion-item *ngIf="!passwordForm.controls['passwordRepeat'].valid && passwordForm.controls['passwordRepeat'].touched" color="danger">
            <p *ngIf="passwordForm.controls['passwordRepeat'].hasError('noMatch')">
                {{'RESET_PASSWORD_PAGE.ERROR.PASSWORD_MATCH' | translate}}
            </p>
        </ion-item>
        <button ion-button type="submit" block [disabled]="!passwordForm.valid">{{'RESET_PASSWORD_PAGE.SAVE' | translate}}</button>
    </form>
</ion-content>
