<h2>Items</h2>

<md-input-container>
    <input mdInput ngModel="filter" type="text" placeholder="Filter">
</md-input-container>

<div class="edit-table">
    <div class="edit-tr">
        <span class="edit-th">externalId</span>
        <span class="edit-th">Name</span>
        <span class="edit-th">Description</span>
        <span class="edit-th">Last Service</span>
        <span class="edit-th">Condition</span>
        <span class="edit-th">Condition Comment</span>
        <span class="edit-th">Status</span>
        <span class="edit-th">Tags</span>
        <span class="edit-th" *ngIf="isManager">Actions</span>
    </div>
    <form class="edit-tr" [formGroup]="newItemForm" (ngSubmit)="add($event)" *ngIf="isManager">
        <span class="edit-td">
            <md-input-container>
                <input mdInput formControlName="externalId" type="text" placeholder="External id">
            </md-input-container>
        </span>
        <span class="edit-td">
            <md-input-container>
                <input mdInput formControlName="name" type="text" placeholder="Name of item">
            </md-input-container>
        </span>
        <span class="edit-td">
            <md-input-container>
                <input mdInput formControlName="description" type="text" placeholder="Description">
            </md-input-container>
        </span>
        <span class="edit-td">
            <md-input-container>
                <input mdInput formControlName="lastService" type="text" placeholder="Last service">
            </md-input-container>
        </span>
        <span class="edit-td">
            <md-input-container>
                <input mdInput formControlName="condition" type="text" placeholder="Condition">
            </md-input-container>
        </span>
        <span class="edit-td">
            <md-input-container>
                <input mdInput formControlName="conditionComment" type="text" placeholder="Condition comment">
            </md-input-container>
        </span>
        <span class="edit-td">
            <md-input-container>
                <input mdInput formControlName="status" type="text" placeholder="Status">
            </md-input-container>
        </span>
        <span class="edit-td">
            <material-chips formControlName="tags" (keydown)="ignoreReturn($event)"></material-chips>
        </span>
        <span class="edit-td">
            <button type="submit" md-icon-button><i class="material-icons">save</i></button>
        </span>
    </form>
    <ng-container *ngFor="let item of data | async">
        <form *ngIf="isManager && editItemId === item._id" class="edit-tr" [formGroup]="editItemForm" (ngSubmit)="save(item, $event)">
            <span class="edit-td">
                <md-input-container>
                    <input mdInput formControlName="externalId" type="text" placeholder="External id">
                </md-input-container>
            </span>
            <span class="edit-td">
                <md-input-container>
                    <input mdInput formControlName="name" type="text" placeholder="Name of item">
                </md-input-container>
            </span>
            <span class="edit-td">
                <md-input-container>
                    <input mdInput formControlName="description" type="text" placeholder="Description">
                </md-input-container>
            </span>
            <span class="edit-td">
                <md-input-container>
                    <input mdInput formControlName="lastService" type="text" placeholder="Last service">
                </md-input-container>
            </span>
            <span class="edit-td">
                <md-input-container>
                    <input mdInput formControlName="condition" type="text" placeholder="Condition">
                </md-input-container>
            </span>
            <span class="edit-td">
                <md-input-container>
                    <input mdInput formControlName="conditionComment" type="text" placeholder="Condition comment">
                </md-input-container>
            </span>
            <span class="edit-td">
                <md-input-container>
                    <input mdInput formControlName="status" type="text" placeholder="Status">
                </md-input-container>
            </span>
            <span class="edit-td">
                <material-chips formControlName="tags" (keydown)="ignoreReturn($event)"></material-chips>
            </span>
            <span class="edit-td">
                <button type="submit" md-icon-button><i class="material-icons">save</i></button>
                <button md-icon-button (click)="cancelEdit()"><i class="material-icons">cancel</i></button>
                <button md-icon-button (click)="remove(item._id)"><i class="material-icons">delete</i></button>
            </span>
        </form>
        <div *ngIf="editItemId !== item._id" class="edit-tr">
            <span class="edit-td">{{item.externalId}}</span>
            <span class="edit-td">{{item.name}}</span>
            <span class="edit-td">{{item.description}}</span>
            <span class="edit-td">{{item.lastService | date: 'dd.MM.yyyy'}}</span>
            <span class="edit-td">{{item.condition}}</span>
            <span class="edit-td">{{item.conditionComment}}</span>
            <span class="edit-td">{{item.status}}</span>
            <span class="edit-td">{{item.tags}}</span>
            <span class="edit-td" *ngIf="isManager">
                <button md-icon-button (click)="edit(item)"><i class="material-icons">edit</i></button>
                <button md-icon-button (click)="remove(item._id)"><i class="material-icons">delete</i></button>
            </span>
        </div>
    </ng-container>
</div>