<ion-header>
    <ion-navbar>
        <ion-title>
            {{'USERS_PAGE.TITLE' | translate}}
        </ion-title>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <!--<ion-buttons end>
            <button ion-button icon-only (click)="newItem()">
                <ion-icon name="person-add"></ion-icon>
            </button>
        </ion-buttons>-->
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="filter" (ngModelChange)="filterChange()" [placeholder]="'USERS_PAGE.FILTER' | translate"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list [virtualScroll]="displayUsers" approxItemHeight="217px">
        <div *virtualItem="let user" style="width: 100%">
            <ion-card *ngIf="displayUsers.length">
                <ion-toolbar>
                    <ion-title>
                        {{user.username}}
                    </ion-title>
                    <ion-buttons right>
                        <button ion-button (click)="editItem(user._id)" clear icon-only>
                            <ion-icon *ngIf="isAdmin" name="create"></ion-icon>
                            <ion-icon *ngIf="!isAdmin" name="search"></ion-icon>
                        </button>
                    </ion-buttons>
                </ion-toolbar>
                <ion-card-content>
                    <p>{{'USERS_PAGE.EMAIL' | translate}}:
                        <ng-container *ngFor="let email of user.emails; first as isFirst">
                            <ng-container *ngIf="!isFirst">, </ng-container>
                            <a href="mailto:{{email.address}}">{{email.address}}</a>
                        </ng-container>
                    </p>
                    <p>{{'USERS_PAGE.FULL_NAME' | translate}}: {{user.fullName}}</p>
                    <p>{{'USERS_PAGE.PHONE' | translate}}: {{user.phone}}</p>
                    <p>{{'USERS_PAGE.STATUS' | translate}}:
                        <ng-container [ngSwitch]="user.status">
                            <ng-container *ngFor="let option of userService.userStatusOptions">
                                <span *ngSwitchCase="option.value" [style.color]="option.colorCss">{{option.text}}</span>
                            </ng-container>
                            <ng-container *ngSwitchDefault>{{user.status}}</ng-container>
                        </ng-container>
                    </p>
                    <p>{{'USERS_PAGE.ROLES' | translate}}:
                        <ng-container *ngFor="let role of user.roles">
                            <ng-container [ngSwitch]="role">
                                <ng-container *ngFor="let option of userService.userRolesOptions">
                                    <span *ngSwitchCase="option.value" [style.color]="option.colorCss">{{option.text}}</span>
                                </ng-container>
                                <ng-container *ngSwitchDefault>{{role}}</ng-container>
                            </ng-container>
                        </ng-container>
                    </p>
                </ion-card-content>
            </ion-card>
        </div>
    </ion-list>
</ion-content>