:host .edit-table {
  display: table;
  border: 0;
  width: 100%;
  border-spacing: 2px;
}

:host .edit-tr {
  display: table-row;
}

:host .edit-td {
  display: table-cell;
}

:host .edit-th {
  display: table-cell;
  font-weight: bold;
}
