<ion-header>
    <ion-navbar>
        <ion-title>
            {{'USERS_PAGE.TITLE' | translate}}
        </ion-title>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <!--<ion-buttons end>
            <button ion-button icon-only (click)="newItem()">
                <ion-icon name="person-add"></ion-icon>
            </button>
        </ion-buttons>-->
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="filter" [placeholder]="'USERS_PAGE.FILTER' | translate"></ion-searchbar>
    <div class="edit-table">
        <div class="edit-tr">
            <span class="edit-th">{{'USERS_PAGE.USERNAME' | translate}}</span>
            <span class="edit-th">{{'USERS_PAGE.EMAIL' | translate}}</span>
            <span class="edit-th">{{'USERS_PAGE.FULL_NAME' | translate}}</span>
            <span class="edit-th">{{'USERS_PAGE.PHONE' | translate}}</span>
            <span class="edit-th">{{'USERS_PAGE.STATUS' | translate}}</span>
            <span class="edit-th">{{'USERS_PAGE.ROLES' | translate}}</span>
            <span class="edit-th"></span>
        </div>
        <ng-container *ngFor="let user of users | usersfilter:filter">
            <div class="edit-tr">
                <span class="edit-td">{{user.username}}</span>
                <span class="edit-td">
                    <span *ngFor="let email of user.emails">
                        <a href="mailto:{{email.address}}">{{email.address}}</a>
                    </span>
                </span>
                <span class="edit-td">{{user.fullName}}</span>
                <span class="edit-td">{{user.phone}}</span>
                <span class="edit-td">
                    <span [ngSwitch]="user.status">
                        <ng-container *ngFor="let option of userService.userStatusOptions">
                            <span *ngSwitchCase="option.value" [style.color]="option.cssColor">{{option.text}}</span>
                        </ng-container>
                        <span *ngSwitchDefault>{{user.status}}</span>
                    </span>
                </span>
                <span class="edit-td">
                    <span *ngFor="let role of user.roles">
                        <span [ngSwitch]="role">
                            <ng-container *ngFor="let option of userService.userRolesOptions">
                                <span *ngSwitchCase="option.value" [style.color]="option.cssColor">{{option.text}}</span>
                            </ng-container>
                            <span *ngSwitchDefault>{{role}}</span>
                        </span>
                    </span>
                </span>
                <span class="edit-td">
                    <button ion-button (click)="editItem(user._id)" clear icon-only>
                        <ion-icon *ngIf="isAdmin" name="create"></ion-icon>
                        <ion-icon *ngIf="!isAdmin" name="search"></ion-icon>
                    </button>
                </span>
            </div>
        </ng-container>
    </div>
</ion-content>